In [3]:
#float-->integer
a=80.0
b=int(a)
print(a)
print(b)

80.0
80

In [9]:
#string-->integer
a="20"
b=str(a)
print(b)

20

In [13]:
#string-->float
a="80.0"
b=float(a)
print(a)
print(b)

80.0
80.0

In [11]:
a=45
b=56.0
c=str(a)
d=float(b)
print(a)
print(b)

45
56.0

In [17]:
a="95029"
b="82745"
print(a+b)

9502982745

In [25]:
#ATM
#accept withdraw amount and print number of notes
#500,200,100

amount=int(input("enter your amount")) #1800
five=0
two=0
one=0
if amount%100==0:
    five=amount//500
    print("500 rupees notes are: ",five)
    amount=amount-(five*500)
    two=amount//200
    print("200 rupees notes are: ",two)
    amount=amount-(two*200)
    one=amount//100
    print("100 rupees notes are: ",one)
else:
    print("invalid amount")

enter your amount 1500

500 rupees notes are:  3
200 rupees notes are:  0
100 rupees notes are:  0

In [37]:
salary=int(input("enter salary: "))
           
if salary<=20000:
    Hra=(salary*76)/100
    Da=(salary*78)/100
    Gs=salary+Da+Hra
    print(Gs)
if salary>20000 and salary<30000:
    Hra=(salary*79)/100
    Da=(salary*82)/100
    Gs=salary+Da+Hra
    print(Gs)
if salary>30000:
    Hra=(salary*85)/100
    Da=(salary*89)/100
    Gs=salary+Da+Hra
    print(Gs)

enter salary:  27000

70470.0

In [41]:
amount=int(input("enter your amount")) #1800
five=0
two=0
one=0
if amount%100==0:
    if amount>=500:
     five=amount//500
     print("500 rupees notes are: ",five)
     amount=amount-(five*500)
    if amount>=200:
     two=amount//200
     print("200 rupees notes are: ",two)
    if amount>=100:
     amount=amount-(two*200)
     one=amount//100
     print("100 rupees notes are: ",one)
else:
     print("invalid amount")

enter your amount 1500

500 rupees notes are:  3

In [52]:
salary=int(input("enter salary: "))           
if salary<=20000:
    Hra=(salary*76)/100
    Da=(salary*78)/100   
elif salary>=30000:
    Hra=(salary*85)/100
    Da=(salary*89)/100
else: 
    Hra=(salary*79)/100
    Da=(salary*82)/100
Gs=salary+Hra+Da
print("the Gs is: ",Gs)

enter salary:  600000000000

the Gs is:  1644000000000.0

In [15]:
salary=int(input("enter salary: "))
slot1=(200000*5)//100
slot2=(300000*10)//100
slot3=(500000*15)//100
slot4=(200000*20)//100

if (500000<salary<1000000):
    if(500000<salary,7000000):
        TDS=((salary-500000)*5)//100
    else:
        TDS=slot1
    if (700000<salary<1000000):
        TDS=slot1+((salary-700000)*10)//100
    else:
        TDS=slot1+slot2

elif(1000000<salary<20000000):
    if (1000000<salary<1500000):
        TDS=slot1+slot2+((salary-1000000)*15)//100
    else:
        TDS=slot1+slot2+slot3
    if (1500000<salary<2000000):
        TDS=slot1+slot2+slot3+((salary-1500000)*20)//100
    else:
        TDS=slot1+slot2+slot3+slot4

else:
    TDS=slot1+slot2+slot3+slot4+((salary-2000000)*30)//100
print(TDS)

enter salary:  1200000

155000