In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#use as a calucator
2*30

In [4]:
2*10

20

In [6]:
2+6+1+1

10

In [8]:
type(30)

int

In [12]:
type('swathi')

str

In [14]:
type(True)

bool

In [18]:
a=b=c=10
print(a,b,c)

10 10 10

In [22]:
a,b,c=1,20,'hello'
print(a,b,c)

1 20 hello

In [28]:
a=10
b=20
print(a,b,sep=',')                    #print(objects,sep=' ',end='\n')

10,20

In [30]:
print(1,2,3,4,sep='#',end='$')

1#2#3#4$

In [34]:
a=101
b='swathi'
c=456.35
print("The Given Employee Number is:   ",a)
print("The Given Employee Name is:   ",b)
print("The Given Employee Salary is:   ",c)

The Given Employee Number is:    101
The Given Employee Name is:    swathi
The Given Employee Salary is:    456.35

In [38]:
s=int(input("enter the employee number: "))
l=int(input("enter the length: "))
f=float(input("enter the employee salary:  "))
print("enter the employee number",s)
print("enter the employee name",d)
print("enter the employee salary",f)

enter the employee number:  101
enter the employee name:  swathi
enter the employee salary:   439.21

enter the employee number 101
enter the employee name swathi
enter the employee salary 439.21

In [40]:
r=int(input("Enter the radius: "))
pi=3.14
area=pi*r*r
print(area)

Enter the radius:  20

1256.0

In [44]:
#write a program too calculate area curcuference of rectangle
l=int(input("enter the length: "))
b=int(input("enter the breadth: "))
a=l*b
c=2*(l+b)
print(a,c)

enter the length:  2
enter the breadth:  3

6 10

In [52]:
#write a program to enter student number, student name, 3 sub marks, calculate total and avg of student and display the repost
n=int(input("enter the student number: "))
s=input("enter the student name: ")
m=int(input("enter the math marks: "))
s=int(input("enter the science marks: "))
t=int(input("enter the telugu marks: "))
total=m+s+t
avg=m+s+t/3
print("total: ",total)
print("avg: ",avg)

enter the student number:  1
enter the student name:  swathi
enter the math marks:  98
enter the science marks:  87
enter the telugu marks:  99

total:  284
avg:  218.0

In [54]:
round(10.395,2)             #rounf figure

10.39

In [64]:
a=int(input("enter the number: "))
if a<15:
    print("less than 15")
else:
    print("greater than 15")

enter the number:  45

greater than 15

In [72]:
# check the given number odd or even 
a=int(input("enter the number: "))
if a%2==0:
    print("even")
else:

    print("odd")

enter the number:  3

odd

In [80]:
a=10 
b=10
if a>b:
    print("a is big")
elif b>a:
    print("b is big")
else:
    print("both are equal")

both are equal

In [88]:
#loop control
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [94]:
#natural numbers
n=int(input())
i=1
while i<=n:
    if n%2==0:
        print(i)
        i=i+1
    else:
        i=i+1

 200

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [96]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [98]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [100]:
for i in range(0,30,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [102]:
for i in range(-5,5):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [104]:
for i in range(91,100+1):
    print(i)

91
92
93
94
95
96
97
98
99
100

In [114]:
n=int(input("Enter the number: "))
for i in range(1,10+1):
    print(f"{n}*{i}=",n*i)

Enter the number:  9

9*1= 9
9*2= 18
9*3= 27
9*4= 36
9*5= 45
9*6= 54
9*7= 63
9*8= 72
9*9= 81
9*10= 90

In [116]:
n=5
i=1
while i<=10:
    print(n,"*",i,"=",i*n)
    i=i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [118]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                     #i for rows and j for coloum
    j=1
    while j<=n:
        print('*', end=" ")
        j=j+1
    print()

Enter the value of n:  5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [120]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                     #i for rows and j for coloum
    j=2
    while j<=n:
        print('*', end=" ")
        j=j+2
    print()

Enter the value of n:  5

* *
* *
* *
* *
* *

In [122]:
n=int(input("Enter the number:"))
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end=" ")
        
        j=j+1
    print()
    i=i+1

Enter the number: 6

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [126]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                  
    j=1
    while j<=i:
        print('*', end=" ")
        j=j+1
    print()

Enter the value of n:  5

*
* *
* * *
* * * *
* * * * *

In [144]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):   
    for j in range(1,n+1):
        if i==j:
            print('$', end=" ")
        else:
            print('*', end=" ")
            j=j+1
    print()

Enter the value of n:  5

$ * * * *
* $ * * *
* * $ * *
* * * $ *
* * * * $

In [7]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                     
    j=1
    while j<=n:
        print( i,  end=" ")
        j=j+1
    print()

Enter the value of n:  5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [9]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                     
    j=1
    while j<=n:
        print( j, end=" ")
        j=j+1
    print()

Enter the value of n:  5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [15]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):   
    for j in range(1,n+1):
        if i==j or j==n-i+1:
            print('$', end=" ")
        else:
            print('*', end=" ")
            j=j+1
    print()

Enter the value of n:  5

$ * * * $
* $ * $ *
* * $ * *
* $ * $ *
$ * * * $

In [17]:
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list[-8])

3

In [21]:
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list[5])

6

In [23]:
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list[2:8])

[3, 4, 5, 6, 7, 8]

In [29]:
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list[5: ])

[6, 7, 8, 9, 10]

In [33]:
list=[20,18,28,19]
del list[2:]
print(list)

[20, 18]

In [37]:
list.append(99)
print(list)

[20, 18, 99]

In [49]:
n=int(input("enter the number "))
a=[]
print("enter list")
for i in range(n):
    b=input("")
    a.append(b)
print(a)

enter the number  3

enter list

 20
 30
 40

['20', '30', '40']

In [51]:
a.insert(2,35)
print(a)

['20', '30', 35, '40']

In [57]:
a=[1,2,30,40]
a.remove(30)
print(a)

[1, 2, 40]

In [73]:
a=[1,2,3]
x=int(input("Enter the number to be removed: "))
if x in my_list:
    a.remove(x)
    print(a)
else:
    print("Element not in list")

Enter the number to be removed:  2

[1, 3]

In [75]:
a.pop()

3

In [81]:
a=[1,3,6]
b=[2,4,5]
a.extend(b)
print(a)

[1, 3, 6, 2, 4, 5]

In [83]:
a.index(6)

2

In [87]:
a=[2,8,3,0,4,5,1]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 8]

In [91]:
a.sort(reverse=True)
print(a)

[8, 5, 4, 3, 2, 1, 0]

In [93]:
a.reverse()
print(a)

[0, 1, 2, 3, 4, 5, 8]

In [3]:
scores = []
n = 4
print("Enter list between 30 to 100: ")
for i in range(n):
    b = int(input(""))
    scores.append(b)

print(scores)
min_num = min(scores)
index = scores.index(min_num)
scores.insert(index, 100)
print(scores)

Enter list between 30 to 100:

 67
 87
 76
 56

[67, 87, 76, 56]
[67, 87, 76, 100, 56]

In [5]:
scores=[]
print("Enter 5 scores ")
for i in range(5):
    scores.append(int(input()))
print("Initial Scores:\n",scores)
ind=scores.index(min(scores))
scores.insert(ind,100)
print("Scores after inserting bonus:\n",scores)
scores.remove(max(scores))
print("Scores after removing bonus:\n",scores)
popped_score=scores.pop(4)
print("popped element :\n",popped_score)
b=[85,75,95,65,55]
scores.extend(b)
print("Extended list:\n",scores)"
scores.sort(reverse=True)
print("Desending order of list: \n",scores)
count_above_80=scores.count(all)
print("count of scores above 80: ",scores)

SyntaxError: unterminated string literal (detected at line 15) (3286170123.py, line 15)

In [11]:

max("str")

't'

In [9]:
min("str")

'r'

In [20]:
n=input("enter the input: ")
print(max(n))
print(min(n))     
print(len(n))
print(sorted(n))

enter the input:  swathi

w
a
6
['a', 'h', 'i', 's', 't', 'w']

In [28]:
n=input("enter the input: ")
count=0
for i in n:
    count+=1
print(count)

enter the input:  swathi

6

In [30]:
st="Welcome"
st.lower()
st.upper()

'WELCOME'

In [32]:
st="Welcome"
st.lower()

'welcome'

In [34]:
st.swapcase()

'wELCOME'

In [42]:
a="swathi"
a.upper()

'SWATHI'

In [44]:
a.lower()

'swathi'

In [46]:
a.islower()

True

In [48]:
a.isalpha()

True

In [50]:
a.isdigit()

False