In [3]:
import numpy as np
import pandas as pd
a_list=[68,78,88,98]
ser=pd.Series(a_list,index=['1st','2nd','3rd','4th'])
ser

1st    68
2nd    78
3rd    88
4th    98
dtype: int64

In [5]:
import numpy as np
import pandas as pd
a_dict={'1st': 1,'2nd':3,'3rd':5,'4th':7}
ser=pd.Series(a_dict)
ser

1st    1
2nd    3
3rd    5
4th    7
dtype: int64

In [9]:
import pandas as pd
import numpy as np
an_array=np.array([[20,99],[21,87],[25,76],[19,87]])
ser=pd.DataFrame(an_array,index=['Swathi','Koushik','Chandhana','Bharath'],columns=['age','markas'])
ser

           age  markas
Swathi      20      99
Koushik     21      87
Chandhana   25      76
Bharath     19      87

In [11]:
ser.values

array([[20, 99],
       [21, 87],
       [25, 76],
       [19, 87]])

In [13]:
ser.index

Index(['Swathi', 'Koushik', 'Chandhana', 'Bharath'], dtype='object')

In [15]:
ser.columns

Index(['age', 'markas'], dtype='object')

In [17]:
import pandas as pd
a_dict={'Name':{'Vi':'Vishal','Sa':'Saipriya'},
        'Age':{'Vi':21,'Sa':20},
        'Marks':{'Vi':92,'Sa':99}}
df=pd.DataFrame(a_dict)
df

        Name  Age  Marks
Vi    Vishal   21     92
Sa  Saipriya   20     99

In [19]:
df.index

Index(['Vi', 'Sa'], dtype='object')

In [21]:
df.values.shape

(2, 3)

In [23]:
type(df.values)

numpy.ndarray

In [25]:
df.columns

Index(['Name', 'Age', 'Marks'], dtype='object')

In [31]:
ser1 = pd. Series(['Rukshan', 'Prasadi', 'Gihan', 'Hansana'], index=['Ru', 'Pr' , 'Gi', 'Ha']) 
ser2 = pd. Series([25, 25, 26, 24], index=['Ru' , 'Pr', 'Gi', 'Ha'])
ser3 = pd.Series([85, 90, 70, 80], index=['Ru', 'Pr' , 'Gi' , 'Ha']) 
a_dict = {'name': ser1, 
          'age': ser2, 
          'marks': ser3}
df = pd.DataFrame(a_dict)
df

       name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   25     90
Gi    Gihan   26     70
Ha  Hansana   24     80

In [3]:
import pandas as pd
a_dict={'Name':{'Sw':'Vishal','Ch':'Saipriya'},
        'Age':{'Sw':21,'Ch':20},
        'Marks':{'Sw':92,'Ch':99}}
df=pd.DataFrame(a_dict)
df

        Name  Age  Marks
Sw    Vishal   21     92
Ch  Saipriya   20     99